#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  place-content: center;
  /* grid-auto-flow: column; */
  /* vertical-align: middle; */
}

/* ID CSS */
#hyperlink {
  color: #a64444;
  text-decoration: none;
}

#return-to-dashboard-hyperlink {
  color: white;
  text-decoration: none;
}

#card-hyperlink {
  color: white;
  text-decoration: none;
}
#card-hyperlink:hover {
    background-color: #1d3461;
    color: white;
}

#jwmp-hyperlink {
  color: white;
  text-decoration: none;
}

.personal-goals {
  font-size: small;
}

label {
  font-size: small;
}

.form .icon {
  position: absolute;
}

.button-class {
  border: outset 2.5px;
  color: white;
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.button-class:hover {
  background-color: #1d3461;
  color: white;
  left: 10%;
  width: 80%;
}
.start-button {
  border: outset 2.5px;
  color: white;
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.start-button:hover {
  background-color: #4d788f;
  color: white;
}
.scope-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #1d3461;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.textfield {
  border: 2.1px inset #1d3461;
  border-radius: 5px;
  background-color: #cdc5b4;
  color: #1d3461;
}

.scope-textfield {
  border: 2.1px inset #1d3461;
  border-radius: 5px;
  background-color: #cdc5b4;
  color: #1d3461;

}

.checkbox {
  color: white;
}

.legend {
  text-align: left;
}

.fieldset {

  justify-content: left;
}

.center {
  border-color: black;
}

.nested-legend {
  text-align: right;
}

:optional {
  text-align: center;
}

.effect2 {
  transition: box-shadow 0.3s, border-radius 0.3s;
}

.effect2:hover {
  box-shadow: 0 4px 8px rgba(94, 203, 233, 0.2);
  border-radius: 20px;
}

@media (width:675) {
  header {
    background-color: blue;
  }

}

.header {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 8px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
  position: grid;
  vertical-align: middle;
}

.header-element-1 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  width: 18%;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.header-element-2 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  width: 18%;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.header-element-3 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  width: 18%;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.header-element-4 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  width: 18%;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.header-element-5 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  width: 18%;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.header-user {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 3%;
  width: 18%;

}

.header-center {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 26%;
  left: 26%;

}

.about-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.study-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.study-header-logo {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  left: 3%;
  width: 18%;
  vertical-align: middle;

}

.study-header-user {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 3%;
  width: 18%;

}

.study-header-center {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 26%;
  left: 26%;

}

.study-display-verse {
  display: center;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  /* border-color: #1d3461; */
  vertical-align: middle;
  font-size: 31px;
  padding-left: 10px;
  padding-right: 10px;

  position: fixed;
  right: 15%;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 44%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
.study-display-verse:hover {
  background-color: #1d3461;
  color: white;
  left: 10%;
  width: 80%;
}

.study-previous-button {
  display: grid;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #1d3461;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;

  position: fixed;
  right: 3%;
  left: 88%;
  top: 47.25%;
  width: 9%;
  height: 5%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
.study-previous-button:hover {
  background-color: #1d3461;
  color: white
}

.study-next-button {
  display: grid;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #1d3461;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;

  position: fixed;
  right: 88%;
  left: 3%;
  top: 47.25%;
  width: 9%;
  height: 5%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
.study-next-button:hover {
  background-color: #1d3461;
  color: white
}


.study-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background: #cdc5b4;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 17%;
  height: 5%;
  width: 70%;
  place-content: center;
  color: #1d3461;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
  font-size: 18px;

}

.return-to-foths-from-study {
  border: outset 2.5px;
  color: white;
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  margin-top: 545px;
  border-radius: 4px;
  position: relative;
  top: 40%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

.verse-name {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 8px;
  background: #cdc5b4;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 72%;
  width: 70%;
  height: 6%;
  color: white;
  font-size: 16px;
  color: #1d3461;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
.verse-name:hover {
  background-color: #1d3461;
  color: white;
}
.verse-size {
  font-size: 16px;
}

.game-mode-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 21%;
  height: 5%;
  width: 68%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;

}

.return-to-foths-from-game-mode {
  border: outset 2.5px;
  color: white;
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  margin-top: 500px;
  border-radius: 4px;
  position: relative;
  top: 40%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

.game-card {
  border: outset;
  place-content: center;
}

.game-card-1 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.game-card-1:hover {
  background-color: #658361;
}

.game-card-2 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.game-card-2:hover {
  background-color: black;
}
.game-card-3 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.game-card-3:hover {
  background-color: black;
}

.game-mode-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
#game-mode-hyperlink {
  color: white;
  text-decoration: none;
}

.dashboard-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px #cdc5b4;
}

.dashboard-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 21%;
  height: 5%;
  width: 68%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px #1d3461;
}

.FOTHS-dashboard-card {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 33.833%;
  left: 5.5%;
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px #1d3461;
}

.dashboard-card-text {
  text-align: center;
  margin: 1px;

}

/* Dashboard media query*/
@media only screen and (max-width: 600px) {
  .item1 {
    grid-area: 1 / span 6;
  }

  .dashboard-header {
    grid-area: 2 / span 6;
  }

  .dashboard-title {
    grid-area: 3 / span 6;
  }

  .FOTHS-dashboard-card{
    grid-area: 4 / span 6;
  }

  .dashboard-card-text {
    grid-area: 5 / span 6;
  }
}

.recent-activity {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 21%;
  width: 12%;
  height: 5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.recent-activity-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: x-small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.recent-activity-card-2 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: x-small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.recent-activity-card-3 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

#scrolling2 {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;

  border: outset;
  border-color: #1d3461;
  ;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  top: 58%;
  left: 45%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
  color: #1d3461;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(90%);
  }

  to {
    -webkit-transform: translateX(-90%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.foths-start {
  --c: #1d3461;
  /* the main color */
  --b: 5px;
  /* thickness of the border */
  --o: 31px;
  /* control the offset */

  width: 234px;;
  /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) outset var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background: #cdc5b4;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #cdc5b4;
}

.foths-start+.foths-start {
  padding: var(--_p) 0 0 var(--_p);
}

.foths-start:hover {
  padding: calc(var(--_p)/2);
}

.foths-main {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  /* border-color: #1d3461; */
  justify-content: space-evenly;

  position: fixed;
  right: 26%;
  left: 26%;
  top: 18%;
  width: 48%;
  height: 68%;

  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.foths-main-title {
  border-style: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  top: 21%;
  height: 5%;
  width: 42%;
  color: white;
  place-content: center;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 px #a64444;
}

.foths-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 4px #cdc5b4;
}

.fruit-cards-row-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 31%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}

.fruit-cards-row-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 49.75%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}

.fruit-cards-row-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 68.5%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}

.fruit-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  position: fixed;
  top: 31%;
  left: 29%;
  height: 12.5%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;

}

.fruit-card-1:hover {
  background-color: #658361;
}

.fruit-card-2 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}
#fruit-card-1-hyperlink {
  color: white;
  text-decoration: none;
}
#fruit-card-2-hyperlink {
  color: white;
  text-decoration: none;
}

.fruit-card-2:hover {
  background-color: #1f1f1f;
}

.fruit-card-3 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-3:hover {
  background-color: #1f1f1f;
}

.fruit-card-4 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  left: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-4:hover {
  background-color: #1f1f1f;
}

.fruit-card-5 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-5:hover {
  background-color: #1f1f1f;
}

.fruit-card-6 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-6:hover {
  background-color: #1f1f1f;
}

.fruit-card-7 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  left: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-7:hover {
  background-color: #1f1f1f;
}

.fruit-card-8 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-8:hover {
  background-color: #1f1f1f;
}

.fruit-card-9 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.fruit-card-9:hover {
  background-color: #1f1f1f;
}

.login-signup {
  --c: #1d3461;
  /* the main color */
  --b: 5px;
  /* thickness of the border */
  --o: 31px;
  /* control the offset */

  width: 234px;
  /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background: #cdc5b4;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #cdc5b4;
}

.login-signup+.login-signup {
  padding: var(--_p) 0 0 var(--_p);
}

.login-signup:hover {
  padding: calc(var(--_p)/2);

}

#login {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#login-title {
  /* line-height: 5%; */
  font-size: 20px;
  border: 2.1px outset white;
  border-radius: 8px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.login-form {
  border-style: outset;
  border: 3px outset white;
  padding: 20px;
  border-radius: 10px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.signup-form {
  --c: #4d788f;
  /* the main color */
  --b: 5px;
  /* thickness of the border */
  --o: 31px;
  /* control the offset */

  width: 550px;
  /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background: #cdc5b4;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #cdc5b4;
}

.signup-form+.signup-form {
  padding: var(--_p) 0 0 var(--_p);
}

.signup-form:hover {
  padding: calc(var(--_p)/2);
}

#signup {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#signup-title {
  font-size: 20px;
  border: 2.1px outset #a64444;
  border-radius: 8px;
  background-color: #4d788f;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.signup-container-in-form {
  border-style: outset;
  border: 3px outset #a64444;
  padding: 20px;
  border-radius: 10px;
  background-color: #4d788f;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.signup-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #a64444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.under-construction-container {
  display: grid;
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;

  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height: 68%
}

.under-construction-title-container {
  border: outset 2px;
  place-content: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  color: white;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;

}

.return-to-foths-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #a64444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  margin-top: 75px;
  border-radius: 4px;
  top: 88%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}
.return-to-button-class:hover {
  background-color: #1d3461;
  color: white;
  left: 10%;
  width: 80%;
}

.under-construction-display-card {
  border: outset 2px;
  place-content: center;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 36%;
  bottom: 35%;
  color: white;
  font-size: xx-small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

.under-construction-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}

.error-container {
  display: grid;
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;

  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height: 68%
}

.error-title-container {
  border: outset 2px;
  place-content: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  color: white;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

.return-to-dashboard-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #a64444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 4px;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}
.return-to-dashboard-button-class:hover {
  background-color: #1d3461;
  color: white;
  left: 10%;
  width: 80%;
}

.error-display-card {
  border: outset 2px;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 36%;
  bottom: 38%;
  color: white;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

.error-header {
  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}


.about-title-container {
  border: outset;
  place-content: center;
  padding-right: 10px;
  ;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  bottom: 70%;
  color: white;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.about-story-card {
  border: outset;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 33%;
  bottom: 52%;
  color: white;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

.about-app-card {
  border: outset;
  place-content: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 36%;
  left: 36%;
  top: 51%;
  bottom: 17%;
  overflow-wrap: break-word;
  color: white;
  font-size: x-small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px black;
}

table,
tr,
td {
  border: 3px solid;
  text-align: center;
  width: 50%;
}

.about-table {
  margin-left: auto;
  margin-right: auto;
}

.about-list {
  text-align: left;
}

.footer-copyright {
  text-align: left;
  margin: 3%;
}

aside {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  position: fixed;
  left: 3%;
  top: 18%;
  width: 20%;
  height: 68%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.scope {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 21%;
  width: 12%;
  height: 5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.scope-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  width: 9%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  font-size: x-small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.scope-card-j {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 60%;
  width: 9%;
  left: 6.3%;
  height: 20%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.scope-card-prop {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  width: 9%;
  height: 15%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.scope-card-list-item {
  text-align: left;
  top: 4%;
}


foths-aside {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;

  position: fixed;

  left: 3%;
  top: 18%;
  width: 20%;
  height: 68%
}

nav {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  align-items: center;

  position: fixed;

  right: 3%;
  top: 18%;
  width: 20%;
  height: 68%;

  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

foths-nav {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;

  position: fixed;

  right: 3%;
  top: 18%;
  width: 20%;
  height: 68%
}

main {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;

  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height: 68%;

  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px #1d3461 inset;
}

footer {
  display: flex;
  justify-content: space-between;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  align-items: center;
  border-radius: 10px;
  padding-right: 23px;

  position: fixed;
  bottom: 3%;
  top: 91%;
  right: 3%;
  left: 3%;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px #cdc5b4;
}

.footer-about-link {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.footer-notepad-link {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.footer-eBible-link {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}
.footer-about-link {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
}

.footer-jwmp-link {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #117f9e;
  padding-top: auto;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 8px #ff7f57;
}

/* Start Page */
.start-page-text {
  border: groove #1d3461;
  background-color: #1d3461;
  color: white;
}

#scrolling2 {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;

  border: outset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  top: 78%;
  left: 45%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 21px #1d3461;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(90%);
  }

  to {
    -webkit-transform: translateX(-90%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Media Query Breakpoints */
@media screen and (max-width: 777px) {
  .FOTHS-dashboard-card {
    width: 86%
  }
  .dashboard-title {
    width: 86%;
    left: 5.3%
  }
}
@media screen and (max-width: 673px) {
  .header-element-5{
    font-size: 18px;
  }
  .header-element-4 {
    font-size: 10px;
    display: none;
  }
  .header-element-3 {
    font-size: 10px;
    display: none;
  }
  .header-element-1 {
   display: none;
  }
}
@media screen and (min-width: 673px) {
  .header-element-5{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .FOTHS-dashboard-card {
    width: 86%
  }
  .dashboard-header {
    grid-area: 2 / span 6;
  }

  .dashboard-title {
    grid-area: 3 / span 6;
  }

  .FOTHS-dashboard-card{
    grid-area: 4 / span 6;
  }

  .dashboard-card-text {
    grid-area: 5 / span 6;
  }

  main {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
 .footer-jwmp-link {
  display: none;
 }
}
@media screen and (max-width: 439px) {
 .footer-notepad-link {
  display: none;
 }
}
@media screen and (max-width: 421px) {
  .header-element-4 {
    font-size: 9px;
  }
  .header-element-3 {
    font-size: 9px;
  }
}