#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  place-content: center;
  grid-auto-flow: column;
  

 
}

.form {
  border-style: outset;
  border: 3px outset #fff;
  padding: 20px;
  border-radius: 10px;
  background-color: #a64444;
}

.header {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444
}
.header-logo {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  left: 3%;
  vertical-align: middle;

}
.header-user {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 3%;

}
.header-center {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 26%;
  left: 26%;
}

.footer-copyright {
  text-align: left;
  margin: 3%;
}

/* .login-signup {
  border-style: outset;
  background-color: #a64444;
  border-radius: 25px;
  border: 7px outset wheat;
  box-shadow: 0 4px 8px rgba(94, 203, 233, 0.2);
  
  padding: 20px;
  

} */

.textfield {
  background-color: white;
  border: 1.2px solid black;
}
.legend {
  text-align: left;
}
.nested-legend {
  text-align: right;
}
:optional {
  text-align: center;
}
.effect2 {
    transition: box-shadow 0.3s, border-radius 0.3s;
}

.effect2:hover {
    box-shadow: 0 4px 8px rgba(94, 203, 233, 0.2);
    border-radius: 20px;
}

.login-signup {
  --c: #1d3461; /* the main color */
  --b: 5px; /* thickness of the border */
  --o: 31px; /* control the offset */
  
  width: 250px; /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background-color: #6e0e0a
} .login-signup + .login-signup {
  padding: var(--_p) 0 0 var(--_p);
} .login-signup:hover {
  padding: calc(var(--_p)/2);
} #login {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.signup-form {
  --c: #1d3461; /* the main color */
  --b: 5px; /* thickness of the border */
  --o: 31px; /* control the offset */
  
  width: 2500px; /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background-color: #6e0e0a
} .signup-form + .signup-form {
  padding: var(--_p) 0 0 var(--_p);
} .signup-form:hover {
  padding: calc(var(--_p)/2);
} #signup {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* .userHeader {

} */

nav {
  display: flex;
  place-content: center;
  /* flex: 0 0 25vw; */
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  top: 0;
  /* width: 100%; */

}

 aside {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  
  left: 3%;
  top: 18%;
  width: 20%;
 }

 nav {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  
  right: 3%;
  top: 18%;
  width: 20%;
 }

 main {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  right: 26%;
  left: 26%;
  top: 18%;
  width: 48%;
 }
footer {
  display: flex;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  bottom: 0;
  top: 91%;
  left: 0;
  right: 0;
  width: 100%;
 }

 /* header {
  padding: 50px;
  text-align: center;
  background:#6e0e0a;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
} */