#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  place-content: center;
  /* grid-auto-flow: column; */
  /* vertical-align: middle; */
}
/* ID CSS */
#hyperlink {
  color: #a64444;
  text-decoration: none;
}
#return-to-dashboard-hyperlink {
  color: white;
  text-decoration: none;
}
#card-hyperlink {
  color: white;
  text-decoration: none;
}
/* Miscellaneous CSS */
.form .icon {
  position: absolute;
  /* transform: translate(-100%); */
}
.button-class {
  border: outset 2.5px;
  color: white;
  background-color: #4d788f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.textfield {
  border: 1.2px solid white;
  border-radius: 5px;
  color: black;
}
.legend {
  text-align: center;
}
.fieldset {
  justify-content: left;
}
.nested-legend {
  text-align: right;
}
:optional {
  text-align: center;
}
.effect2 {
    transition: box-shadow 0.3s, border-radius 0.3s;
}
.effect2:hover {
    box-shadow: 0 4px 8px rgba(94, 203, 233, 0.2);
    border-radius: 20px;
}

.header {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 8px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
  position: grid;
  vertical-align: middle;
}
.header-element-1 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* top: 1%; */
  /* left: 3%; */
  width: 18%;
  padding-top: auto;
}
.header-element-2 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* top: 1%; */
  /* left: 3%; */
  width: 18%;
  padding-top: auto;
  /* vertical-align: middle; */
}
.header-element-3 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* top: 1%; */
  /* left: 3%; */
  width: 18%;
  padding-top: auto;
  /* vertical-align: middle; */
}
.header-element-4 {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* top: 1%; */
  /* left: 76%; */
  width: 18%;
  padding-top: auto;
  /* vertical-align: middle; */
}
.header-user {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 3%;
  width: 18%;

}
.header-center {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 26%;
  left: 26%;

}
.about-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}
 .study-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}
.study-header-logo {
  border-style: outset;
  border: 3px outset white;
  padding-left: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  left: 3%;
  width: 18%;
  vertical-align: middle;

}
.study-header-user {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 3%;
  width: 18%;

}
.study-header-center {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 26%;
  left: 26%;

}
.study-display-verse {
  display: grid;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  right:15%;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 44%
}
.study-previous-button {
  display: grid;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  right:3%;
  left: 88%;
  top: 47.25%;
  width: 9%;
  height:5%
}
.study-next-button {
  display: grid;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  right:88%;
  left: 3%;
  top: 47.25%;
  width: 9%;
  height:5%
}
.study-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background: #cdc5b4;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 17%;
  height: 5%;
  width: 68%;
  color: white;
  place-content: center;
  color: #85756e;

}
.verse-name {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background: #cdc5b4;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 72%;
  width: 68%;
  height: 6%;
  color: white;
  place-content: center;
  color: #85756e;

}

.game-mode-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 21%;
  height: 5%;
  width: 68%;
  color: white;
  place-content: center;

}
.game-card {
  border: outset;
  place-content: center;
}
.game-card-1 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed;
  right: 33.833%;
  left: 5.5%; */
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
}
.game-card-2 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* right: 64.667%;
  left: 36.333%; */
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;

}
.game-card-3 {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  /* position: fixed; */
  /* right: 94.5%;
  left: 67.167%; */
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;

  
}
.game-mode-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}
 .dashboard-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}
.dashboard-title {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 21%;
  height: 5%;
  width: 68%;
  color: white;
  place-content: center;
}
.FOTHS-dashboard-card {
  border-style: outset;
  border: 3px outset white;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  right: 33.833%;
  left: 5.5%;
  top: 31%;
  height: 50%;
  width: 28.333%;
  color: white;
  place-content: center;
}
.dashboard-card-text {
  text-align: center;
  margin: 1px;
}

.recent-activity {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 21%;
  width: 12%;
  height: 5%;
  padding-left: 2%;
  padding-right:  2%;
}
.recent-activity-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right:  2%;
  font-size: xx-small;
}
.recent-activity-card-2 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right:  2%;
  font-size: xx-small;
}
.recent-activity-card-3 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top:68.5%;
  width: 9%;
  height: 14%;
  padding-left: 2%;
  padding-right:  2%;
  font-size: xx-small;
}

.scope {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 21%;
  width: 12%;
  height: 5%;
  padding-left: 2%;
  padding-right:  2%;
}
.scope-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  width: 9%;
  height: 15%;
  padding-left: 2%;
  padding-right:  2%;
  font-size: xx-small;
}
.scope-card-2 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  width: 9%;
  height: 15%;
  padding-left: 2%;
  padding-right:  2%;
  font-size: xx-small;
}

.foths-main {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
 justify-content: space-evenly;
  
  position: fixed;
  right: 26%;
  left: 26%;
  top: 18%;
  width: 48%;
  height:68%;
}
.foths-main-title {
  border-style: outset;
  border: 3px outset white;
  /* padding-right: 10px; */
  border-radius: 8px;
  background-color: #a64444;
  position: fixed;
  /* right: 29%; */
  /* left: 29%; */
  top: 21%;
  height: 5%;
  width: 42%;
  color: white;
  place-content: center;
} 
.foths-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}
.fruit-cards-row-1 {
  /* border: outset; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 31%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}
.fruit-cards-row-2 {
  /* border: outset; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 49.75%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}
.fruit-cards-row-3 {
  /* border: outset; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 29%;
  left: 29%;
  top: 68.5%;
  height: 12.5%;
  border-radius: 8px;
  background-color: #cdc5b4;
  border-color: black;
}
.fruit-card-1 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  left: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-2 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  /* left: 46.5%; */
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-3 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 31%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-4 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  left: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-5 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  /* left: 46.5%; */
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-6 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 49.75%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-7 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  left: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-8 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  /* left: 46.5%; */
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}
.fruit-card-9 {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  place-content: center;
  position: fixed;
  top: 68.5%;
  right: 29%;
  height: 12.5%;
  padding-left: 2%;
  padding-right:  2%;
}

.login-signup {
  --c: #1d3461; /* the main color */
  --b: 5px; /* thickness of the border */
  --o: 31px; /* control the offset */
  
  width: 234px; /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background: #cdc5b4;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 21px #cdc5b4;
} .login-signup + .login-signup {
  padding: var(--_p) 0 0 var(--_p);
} .login-signup:hover {
  padding: calc(var(--_p)/2);
} #login {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#login-title {
  /* line-height: 5%; */
  font-size: 20px;
  border: 2.1px outset white;
  border-radius: 8px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}
.login-form {
  border-style: outset;
  border: 3px outset white;
  padding: 20px;
  border-radius: 10px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.signup-form {
  --c:#4d788f; /* the main color */
  --b: 5px; /* thickness of the border */
  --o: 31px; /* control the offset */
  
  width: 2500px; /* the image size */
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  border: var(--b) solid var(--c);
  border-radius: 25px;
  outline-offset: calc(var(--o) - var(--_p));
  transition: 1.0s;
  cursor: pointer;
  box-shadow: 8 14px 8px black;
  background: #cdc5b4;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 21px #cdc5b4;
} .signup-form + .signup-form {
  padding: var(--_p) 0 0 var(--_p);
} .signup-form:hover {
  padding: calc(var(--_p)/2);
} #signup {
  background-color: #1d3461;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#signup-title {
  /* line-height: 5%; */
  font-size: 20px;
  border: 2.1px outset #4d788f;
  border-radius: 8px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}
.signup-container-in-form {
  border-style: outset;
  border: 3px outset #4d788f;;
  padding: 20px;
  border-radius: 10px;
  background-color: #a64444;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 7px#a64444;
}

.under-construction-container {
  display: grid;
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;
  
  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height:68%
}
.under-construction-title-container {
  border: outset 2px;
  place-content: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  color: white;
  
}
.return-to-foths-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #a64444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  /* margin: 4px 2px; */
  margin-top: 75px;
  border-radius: 4px;
  top: 88%;
}
.under-construction-display-card {
  border: outset 2px;
  place-content: center;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 36%;
  bottom: 35%;
  color: white;
  font-size:xx-small;
  /* font-size: calc(1vw + .3vh); */
}
.under-construction-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}

.error-container {
  display: grid;
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;
  
  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height:68%
}
.error-title-container {
  border: outset 2px;
  place-content: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  color: white;
  
}
.return-to-dashboard-button-class {
  border: outset 2.5px;
  color: white;
  background-color: #a64444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 4px;
}
.error-display-card {
  border: outset 2px;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 36%;
  bottom: 38%;
  color: white;
  font-size:xx-small;
  /* font-size: calc(1vw + .3vh); */
}
.error-header {
  border: outset;
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 25vw;
  position: fixed;
  right: 3%;
  left: 3%;
  height: 8%;
  border-radius: 8px;
  background-color: #cdc5b4
}


.about-title-container {
  border: outset;
  place-content: center;
  padding-right: 10px;;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 21%;
  bottom: 70%;
  color: white;
  
}
.about-story-card {
  border: outset;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 6%;
  left: 6%;
  top: 33%;
  bottom: 52%;
  color: white;
  font-size:xx-small;
  /* font-size: calc(1vw + .3vh); */
}
.about-app-card {
  border: outset;
  place-content: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #a64444;
  position: fixed;
  right: 36%;
  left: 36%;
  top: 51%;
  bottom: 17%;
  color: white;
  font-size:xx-small
}

.footer-copyright {
  text-align: left;
  margin: 3%;
}
.footer-copyright {
  text-align: left;
  margin: 3%;
}


 aside {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  
  position: fixed;
  
  left: 3%;
  top: 18%;
  width: 20%;
  height:68%
 }
 foths-aside {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  
  left: 3%;
  top: 18%;
  width: 20%;
  height:68%
 }
 nav {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  
  right: 3%;
  top: 18%;
  width: 20%;
  height:68%
 }
 foths-nav {
  display: flex;
  place-content: center;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  
  position: fixed;
  
  right: 3%;
  top: 18%;
  width: 20%;
  height:68%
 }
 /* This is the section that controls the tan colored container on the game-mode page */
 /* This is where I jusitfy the individual game mode cards within the container.*/
 main {
  display: flex;
  /* place-content: center; */
  justify-content: space-evenly;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: inset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 8px;
  
  position: fixed;
  right: 3%;
  left: 3%;
  top: 18%;
  height:68%
 }
 footer {
  display: flex;
  flex: 0 0 25vw;
  background: #cdc5b4;
  color: #85756e;
  box-sizing: borderbox;
  border: outset;
  border-color: #1d3461;
  align-items: center;
  border-radius: 10px;
  
  position: fixed;
  bottom: 3%;
  top: 91%;
  right: 3%;
  left: 3%;
 }




