/* App.css*/
.AppQ {
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    text-align: left;
}

.geeks {
    color: white;
    border-style: outset;
    border: 3px outset white;
    padding-left: 10px;
    border-radius: 8px;
    background-color: #a64444;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 7px#a64444;
    position: grid;
    vertical-align: middle;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
}

.subheader {
    color: white;
    border-style: outset;
    border: 3px outset white;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-radius: 8px;
    background-color: #a64444;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 7px#a64444;
    position: grid;
    vertical-align: middle;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 3px outset;
}

th {
    border: 3px solid;
}

td {
    border: ridge;
}